.about-me {
  background-color: #f2f2f2;
  position: relative;
}

.about-me__icon {
  width: 4rem;
  height: 4rem;
}

.about-me__icon-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.about-me__pharagraphs {
  text-align: justify;
  /* text-align: center; */
  padding: 0 4rem;
}

.about-me__strong {
  color: #124f88;
}

.about-me__photo-figure {
  position: relative;
  margin: 8rem 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-me__photo {
  z-index: 2;
  object-fit: cover;
  width: 306px;
  height: 306px;
}

.about-me__figure {
  position: absolute;

  height: 30rem;
  width: 30rem;
  z-index: 1;
  border-radius: 44% 56% 42% 68% / 61% 49% 51% 39%;
  border: 1px solid #124f88;
  background-color: #124f88;
}

.about-me__button {
  margin: 5rem 0 0 0;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 1rem;
  justify-content: center;
}

.about-me__button-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #124f88;
  text-decoration: none;
  color: #f2f2f2;
  transition: transform 0.5s;
}

.about-me__button-link:hover {
  transform: scale(1.04);
}

.about-me__button-icon {
  width: 4rem;
  fill: #f2f2f2;
}

.about-me__wave {
  position: relative;
  bottom: -1rem;
}

@media (min-width: 1024px) {
  .about-me__all {
    padding: 0 17.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-me__photo-figure {
    display: flex;
    bottom: 5rem;
  }

  .about-me__pharagraphs {
    /* text-align: unset; */
    text-align: justify;
    max-width: 70rem;
  }
  .about-me__wave {
    position: relative;
    bottom: -1rem;
  }
}
