@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}
h2 {
  font-size: 2.4rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 10rem;
  font-family: "Poppins", sans-serif;
}

.hero__wave {
  grid-area: "wave";
}

body {
  position: relative;
  font-size: 1.6rem;
  min-height: 300vh;
  margin: 0;
  display: grid;
  grid-template:
    /* "header" 94.8125px */
    "hero" 30%
    "job-exp"
    "proyects"
    "skills"
    "about-me"
    "footer";
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
}

@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
    grid-template:
      /* "header" 110.812px */
      "hero" 120vh
      "job-exp"
      "proyects"
      "skills"
      "about-me"
      "footer";
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 3.2rem;
  }
  body {
    font-size: 1.6rem;
    grid-template:
      /* "header" 110.812px */
      "hero" 140vh
      "job-exp"
      "proyects"
      "skills"
      "about-me"
      "footer";
  }
}

header {
  grid-area: header;
}

.hero {
  grid-area: hero;
}

.job-exp {
  grid-area: job-exp;
}

.proyects {
  grid-area: proyects;
}

.skills {
  grid-area: skills;
}

.about-me {
  grid-area: about-me;
}

footer {
  grid-area: footer;
}
