*,
*::after,
*::before {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}
h2 {
  font-size: 2.4rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 10rem;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  font-size: 1.6rem;
  /* min-height: 300vh; */
  /* height: fit-content; */
  margin: 0;
  display: grid;
  grid-template:
    "hero"
    "job-exp"
    "projects"
    "skills"
    "about-me"
    "footer";
}

body::-webkit-scrollbar {
  width: 12px;
  padding:20px;
}

body::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

body::-webkit-scrollbar-thumb {
  background-color: #124F88;
  border-radius: 2rem;
}

@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
    grid-template:
      "hero"
      "job-exp"
      "projects"
      "skills"
      "about-me"
      "footer";
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 3.2rem;
  }
  body {
    font-size: 1.6rem;
    grid-template:
      "hero"
      "job-exp"
      "projects"
      "skills"
      "about-me"
      "footer";
  }
}

header {
  grid-area: header;
}

.hero {
  grid-area: hero;
}

.job-exp {
  grid-area: job-exp;
}

.projects {
  grid-area: projects;
}

.skills {
  grid-area: skills;
}

.about-me {
  grid-area: about-me;
}

footer {
  grid-area: footer;
}

/* Animations */

@keyframes trans-y-appear {
  0% {
    opacity: 0%;
    transform: translateY(150px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes shadow-light {
  0%,
  100% {
    box-shadow: 0px 4px 12px rgba(251, 251, 251, 0.481);
  }
  50% {
    box-shadow: 0px 8px 14px rgba(255, 255, 255, 0.666);
  }
  /* 100% {
    box-shadow: 0px 4px 12px rgba(251, 251, 251, 0.271);
  } */
}

@keyframes appear-item {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes appear-y-item {
  0% {
    opacity: 0;
    transform: translateY(150px) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes image-reveal {
  from {
    filter: saturate(0) contrast(4) brightness(0.1) blur(5px);
    opacity: 0;
    scale: 0.95;
    translate: 0 4rem;
  }

  to {
    filter: none;
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Animations applied */

.hero__item {
  box-shadow: 0px 4px 12px rgba(251, 251, 251, 0.481);
  animation: appear-item 1s;
}

.job-exp__icon-title {
  animation: trans-y-appear both;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
}

.job-exp__list {
  animation: image-reveal both;
  animation-timeline: view(80% 20%);
}

.job-exp__image {
  animation: image-reveal both;
  animation-timeline: view(80% 20%);
}

.projects__icon-title {
  animation: trans-y-appear both;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
}

.fade-up-item {
  animation: fade-up both;
  animation-timeline: view();
  animation-range: entry 50% cover 70%;
}

.skills__icon-title {
  animation: trans-y-appear both;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
}

.about-me__icon-title {
  animation: trans-y-appear both;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
}

.about-me__paragraphs {
  animation: trans-y-appear both;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
}

.about-me__photo {
  animation: appear-y-item both;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
}

.about-me__button {
  animation: appear-item both;
  animation-timeline: view();
  animation-range: entry 5% cover 10%;
}
/* .fade-up-item:nth-child(1) {
  animation-range: entry 5% cover 10%;
}
.fade-up-item:nth-child(2) {
  animation-range: entry 10% cover 15%;
}
.fade-up-item:nth-child(3) {
  animation-range: entry 15% cover 20%;
}
.fade-up-item:nth-child(4) {
  animation-range: entry 20% cover 25%;
}
.fade-up-item:nth-child(5) {
  animation-range: entry 25% cover 30%;
}
.fade-up-item:nth-child(6) {
  animation-range: entry 30% cover 35%;
}
.fade-up-item:nth-child(7) {
  animation-range: entry 35% cover 40%;
}
.fade-up-item:nth-child(8) {
  animation-range: entry 45% cover 50%;
}
.fade-up-item:nth-child(9) {
  animation-range: entry 50% cover 55%;
} */
