.hero {
  background-image: url("https://pixabay.com/get/ge5567384488c4c08f59ddd1b2cbe311c5fad9ecc0e39d7a10ec8a5bc1445452d2f47039406a2a056a0261fbe1e6ce6ac4f412db99fb65ea7fec71712c29d92a5_1920.jpg");
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
  /* object-position: center center; */
  background-position: 40%;
  background-repeat: no-repeat;
  width: 100%;
}

.hero__presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.hero__item {
  /* width: 30rem; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(1rem);
  border-radius: 2rem;
  color: #f2f2f2;
  padding: 1.2rem;
  min-width: 290px;
}

.hero__description {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.hero__title {
  margin: 0;
  width: 200px;
  animation: writing 1.5s steps(35),
    transparent 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}

.hero__knowledge {
  font-weight: 550;
  width: 260px;

  animation: writing 2.5s steps(35),
    transparent 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  animation-delay: 3s;

}

@keyframes writing {
  from {
    width: 0px;
  }
}

@keyframes transparent {
  50% {
    border-color: transparent;
  }
}

.hero__user-photo {
  max-width: 100%;
  object-fit: cover;
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
}

@media (min-width: 1024px) {
  .hero {
    background-image: url("https://pixabay.com/get/ge5567384488c4c08f59ddd1b2cbe311c5fad9ecc0e39d7a10ec8a5bc1445452d2f47039406a2a056a0261fbe1e6ce6ac4f412db99fb65ea7fec71712c29d92a5_1920.jpg");

    object-fit: cover;
    background-attachment: fixed;
    background-size: cover;
    /* object-position: center center; */
    background-position: center;
  }

  .hero__item {
    /* width: 30rem; */
    width: 464px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(1rem);
    border-radius: 2rem;
    color: #f2f2f2;
    padding: 1.2rem;
    min-width: 290px;
  }

  .hero__description {
    width: 260px;
  }
}

@media (min-width: 768px) {
  .hero__item {
    /* width: 30rem; */
    width: 464px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(1rem);
    border-radius: 2rem;
    color: #f2f2f2;
    padding: 1.2rem;
    min-width: 290px;
  }

  .hero__description {
    width: 260px;
  }
}
