.hero {
  /* position: relative; */
  background-image: url(/image/hero-bg.webp);
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
  /* object-position: center center; */
  height: 100vh;
  background-position: 40%;
  background-repeat: no-repeat;
  /* width: 100%; */
}

.hero__presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.hero__item {
  position: relative;
  bottom: 6rem;
  /* top: rem; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* justify-content: center; */
  background-color: transparent;
  backdrop-filter: blur(1rem);
  border-radius: 2rem;
  color: #f2f2f2;
  padding: 1.2rem;
  min-width: 290px;
 
  /* animation-duration: 1s;
  animation-name: shadow-light;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-out; */
}

.hero__user-photo {
  width: 100%;
  height: auto;
}

.hero__description {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.hero__title {
  margin: 0;
  width: 190px;
  animation: writing 1.5s steps(35), transparent 0.5s step-end alternate;
  white-space: nowrap;
  overflow: hidden;
  /* border-right: 1px solid; */
}

.hero__knowledge {
  font-weight: 500;
  /* width: 240px; */

  animation: writing 1.5s steps(35) forwards,
    transparent 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;
  border-right: 1px solid;
  animation-delay: 1s;
}

@keyframes writing {
  0% {
    visibility: visible;
    width: 0px;
  }
  100% {
    width: 230px;
    visibility: visible;
  }
}

@keyframes transparent {
  50% {
    border-color: transparent;
  }
}

.hero__user-photo {
  max-width: 100%;
  object-fit: cover;
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
}

@media (min-width: 1024px) {
  .hero {
    object-fit: cover;
    background-attachment: fixed;
    background-size: cover;
    /* object-position: center center; */
    background-position: center;
  }

  .hero__item {
    /* width: 30rem; */
    position: relative;
    bottom: 10rem;
    width: 464px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(1rem);
    border-radius: 2rem;
    color: #f2f2f2;
    padding: 1.2rem;
    min-width: 290px;
  }

  .hero__description {
    width: 260px;
  }

  .hero__wave {
    bottom: -2px;
  }
}

@media (min-width: 768px) {
  .hero__item {
    /* width: 30rem; */
    position: relative;
    bottom: 3rem;
    width: 464px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(1rem);
    border-radius: 2rem;
    color: #f2f2f2;
    padding: 1.2rem;
    min-width: 290px;
  }

  .hero__description {
    width: 260px;
  }
}
