.job-exp {
  background-color: #124f88;
  display: flex;
  justify-content: flex-start;

  flex-flow: column nowrap;
  align-items: center;
  position: relative;
}

.job-exp__icon-title {
  color: #f2f2f2;
  display: flex;
  justify-content: center;

  margin: 0 0 2.8rem 0;
  align-items: center;
  gap: 8px;
}
.job-exp__icon {
  fill: #f2f2f2;
  height: 3rem;
  width: 3rem;
}

.job-exp__list {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  gap: 4rem;
  padding: 0 4rem 0 4rem;
}

.job-exp__image {
  /* margin: 4rem 0 0 0; */
  width: 100%;
  height: 100%;

  max-width: 20rem;
  margin: 0 0 20rem 0;
}

.job-exp__item {
  position: relative;
  list-style: none;
}

.job-exp__figure {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.job-exp__date {
  color: #dcdcdc;
}

.job-exp__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-exp__date-icon {
  height: 2rem;
  width: 2rem;
  padding: 2px;
  background-color: #ffeb3b;
  border-radius: 6px;
}

.job-exp__job {
  color: #e0e0e0;
  margin: 1rem 0 1rem 2rem;
}

.job-exp__black {
  color: #ffeb3b;
}

.job-exp__job::before {
  content: "";
  position: absolute;
  background-color: #a8a8a8;
  height: 85%;
  width: 3px;
  left: 7px;
  border-left: 1px solid #a8a8a8;
  margin: 0 4rem 0 0 0;
}

.job-exp__pharagraph {
  margin: 2rem 0 1rem 2rem;
  color: #e0e0e0;
}

.div {
  width: 10rem;
}

.job-exp__wave {
  position: absolute;
  width: 100%;
  height: 20rem;
  top: -19rem;
}

.job-exp__wave-2 {
  position: absolute;
  width: 100%;
  height: 20rem;
  bottom: -2px;
}

@media (min-width: 1024px) {
  .job-exp__pharagraph {
    max-width: 60rem;
  }

  .job-exp__description{
    max-width: 50rem;
  }

  .job-exp__list {
    padding: 0 17.6rem 0 0;
    /* padding: 0 10.6rem 0 0; */
    flex-flow: row nowrap;
  }

  .job-exp__content {
    flex-direction: row;
    margin: 0rem 0rem 20rem 0rem;
  }

  .job-exp__image {
    /* margin: 4rem 0 0 0; */
    /* width: 20rem; */
    width: 20rem;
    height: 20rem;
    max-width: none;
    margin: 0 10rem 0 0;
  }
}
