.proyects {
  background-color: #f2f2f2;
  padding: 0 4rem;
}

.proyects__icon-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.proyects__icon {
  width: 3rem;
  height: 3rem;
}

.proyects__tech-icon {
  width: 4rem;
height: 4rem;
}

.proyects__all {
  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: center;
}

.proyects__general-text{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}


.proyects__mockup {
  margin: 4rem 0;
  width: 28rem;
}

.proyects__techs-list{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;

}

.proyects__tech{
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;

}